<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-nav">
            <div class="content-nav">
                <div class="content__container">
                    <p class="content__container__text">

                    </p>

                    <ul class="content__container__list">
                        <li class="content__container__list__item">Hello everybody !</li>
                        <li class="content__container__list__item">I'm Konrad</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Projects","Home")">
                    <div class="tile">
                        <i class="glyphicon glyphicon-folder-open" style="font-size:40px;"></i>
                        <br />
                        Projekty
                    </div>
                </a>

            </div>
            <div class="col-md-4">
                <a href="@Url.Action("About","Home")">
                    <div class="tile">
                        <i class="glyphicon glyphicon-user" style="font-size:40px;"></i>
                        <br />
                        O mnie
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Contact","Home")">
                    <div class="tile">
                        <i class="glyphicon glyphicon-envelope" style="font-size:40px;"></i>
                        <br />
                        Kontakt
                    </div>
                </a>

            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="social-ft">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/konrad.wilczek" target="_blank">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/WiluGIT" target="_blank">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://dev.azure.com/wolframowsky" target="_blank">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-git"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p>&copy; @DateTime.Now.Year - Made by WiluGIT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
